.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    text-decoration: none;
}

.dialogsItem {

}

.dialog {
    padding: 5px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.active {
    padding: 5px;
    color:red;
    text-decoration: none;
}

.messages {
    padding: 10px; 
}
